token.txt
*.txt
.DS_Store
.token
.*
unified_json/result.json
__pycache__/
scripts_dump/*
data/graph_Project-OSRM-osrm-backend.json
image_dump/**/*.png
pattern_dump/**/*.pk
graphml_dump/**/*.graphml
tmp.data
