token.txt
*.txt
.DS_Store
.token
.*
unified_json/result.json
__pycache__/
scripts_dump/*
data/graph_Project-OSRM-osrm-backend.json
image_dump/**/*.png
pattern_dump/**/*.pk
graphml_dump/**/*.graphml
tmp.data
comments_dump/**/*.json
generate_topology_images/*.png
password
generate_neo4j_images/**/*.png
.*class
unified_json/second_sample_images/**/*.png
neo4j_statistics/*.csv
neo4j_statistics/**/*.csv
cypher_scripts/PR_Stack_Gen.cypher
tmp.sh
repo_component_size_freq_img/*.png
misc_images/*.png
*.pickle
